body{
    margin: 0px;
    padding: 0px;
    
}
.div_time{
    text-align: center;
    color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px 30px;
    background-color: rgba(21, 22, 21, 0.6);
}
.header_img{
    display: block;
    margin: auto;
    border-radius: 50%;
    /* border: 15px solid yellow; */
    height: 6.25rem;
    box-shadow: 5px 5px 5px #bdbdbc;
}
#div_top{
    padding: 120px;
    /* background-color: brown; */
}

.div_bg{
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    
}

.img_bg{
    width: 100%;
    height: 100%;
}

.content_wrapper{
    width: 75%;
    height: 400px;
    position: relative;
    margin: auto;
    background-color:rgba(253, 253, 253, 0.3) ;
    border-radius: 10px;
    padding: .3125rem;
    /* overflow: scroll; */
}
.content_wrapper ul{
    width: auto;
}
.item{ 
    /* border: 3px solid #f12020; */
    border-radius: 10px;
    /* width: 48%; */
    background-color: rgba(6, 134, 33, 0.8);
    margin: 5px 10px;
    /* display: inline; */
    float: left;
    list-style-type: none;
    text-align: center;
} 
.item:hover{
    background-color: rgba(23, 24, 23, 0.808);
}
.item a{
    line-height: 50px;
    /* background-color: burlywood; */
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

#bottom{
    clear: both;
}