body{
    margin: 0px;
    padding: 0px;
    background-color:#0befba;
    /* -webkit-transition:background-color 2s; */
    transition: background-color 2s;
}
.div_time{
    text-align: center;
    color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px 30px;
    background-color: rgba(21, 22, 21, 0.6);
}
.header_img{
    display: block;
    margin: auto;
    border: 4px solid rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    /* border: #fff; */
    /* border-width: 2px; */
    border-radius: 50%;
}
#div_top{
    padding: 120px;
    /* background-color: brown; */
}
.container{
    /* background-color: #f0f048; */
    width: 100%;
    height: 100%;
    margin: auto;
}
.div_bg{
    top: 0;
    position: absolute;
    z-index: -1;
    display: block;
    margin: auto;
}

.img_bg{
    visibility:hidden;
    /* position: absolute; */
    /* height: 100%; */
    z-index: -1;
    display: block;
}

.content_wrapper{
    width: 60%;
    margin: auto;
    /* padding: 30px; */
    /* background-color:rgba(107, 170, 5, 0.3) ; */
    border-radius: 10px;
    /* overflow: scroll; */
}
#content{
    display: grid;
    /* background-color: aqua; */
    grid-template-columns: repeat(7,1fr);
    grid-gap: 10px;
    justify-content: center;
    padding: 0px;
}

.img_container{
    width: 56px;
    height: 56px;
    margin: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border: #fdf0f0;
    background-color: #fdf0f0;
    display: flex;
    align-items: center;
}
.img_container:hover{
    margin: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border: #ffffff;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 5px #3a3a3a;
}
/* .img_container :hover{
    width: 50px;
    height: 50px;
} */
li img{
    margin:auto;
    width: 28px;
    height: 28px;
}
li span{
    text-align: center;
}
.item{ 
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
} 
/* .item a:hover{
    opacity: 100%;
    border-radius: .25rem;
    font-size: 28px;
    text-decoration:underline;
    text-shadow: 8px 8px 8px #3f3e3e;
} */
.item a{
    line-height: 50px;
    color: white;
    width: 100%;
    opacity: 90%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    text-decoration:none;
    text-align: center;
    text-shadow: 0px 0px 0px #3a3a3a;
}

.item a:hover{
    line-height: 50px;
    color: white;
    width: 100%;
    opacity: 100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    text-decoration:none;
    text-align: center;
    text-shadow: 5px 5px 5px #3a3a3a;
}

#bottom{
    clear: both;
}
/* @media screen and (min-width: 1000px) {
    body{
        margin: 0px;
        padding: 0px;
        background-image: url(../img/wallhaven-j3orvy.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }
} */