:root {
  --textSizeWebName: 1.6rem;
  --itemSize: 5rem;
  --itemImageSize: 3.2rem;
  --searchSize: 3.2rem;

}
@media screen and (max-width: 400px) {
  html {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 1vw;
  }
}
